# ++++++++++++++++++++++++++++++++++++++
# Python
# ++++++++++++++++++++++++++++++++++++++

# Custom
db.sqlite
!/.coveragerc
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Unit test / coverage reports
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/



# ++++++++++++++++++++++++++++++++++++++
# JavaScript
# ++++++++++++++++++++++++++++++++++++++
# npm
npm-debug.log*
node_modules/
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env
