[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pokebase = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-httpauth = "*"
pyjwt = "*"
werkzeug = "*"
python-dateutil = "*"

[dev-packages]
ipython = "*"
pytest = "*"

[requires]
python_version = "3.9"
